.category{
   &__text{
    padding: 15px 20px 5px;

   
    h5{
        font-size: 14px;
        a{
            color: var(--blackColor);
            font-weight: 600;
        }
    }
   } 

   &__single{
    text-align: center;
   
   }
   &__img{
    img{
        width: 100%;
        border-radius: 15px;
    }
   }
}

.category__single{
    &:hover{
        .category__text{
            a{
                color: var(--primaryColor);
            }
        }
    }
}

.category__single__2{
    margin-bottom: 30px;
    &:hover{
        a{
            color: var(--primaryColor);
        }
    }
}

.category__text__2{
    h5{
        font-size: 18px;
    }
    h6{
        font-weight: 400;
    }
}


.category__img__2{
    img{
        width: 100%;
        border-radius: 15px;
    }
}


.collection__2{
    .collection__single__2{
        text-align: center;
        &:hover{
            a{
                color: var(--primaryColor);
            }
        }
    }
    .collection__img__2{
        img{
            width: 100%;
            border-radius: 15px;
        }
    }
    .collection__text__2{
        padding: 15px 20px 5px;
        h5{
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 15px;
            font-size: 18px;
        }
        h6{
            line-height: 1.3;
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
}