.registerarea{
    &__form__container{
        background: var(--borderColor) none repeat scroll 0 0;
        padding: 37px 40px;
        text-align: left;
        overflow: hidden;
    }
    &__text{
        text-align: center;
    margin-bottom: 30px;
    h2{
        color: var( --blackColor);
        font-size: 30px;
        margin-bottom: 5px;

    }
    p{
        font-size: 15px;
    }
    }
    &__form{
        form{
          label{
            color:var( --blackColor);
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 10px;
            padding-left: 5px;
          }
          input{
            background: var(--whiteColor) none repeat scroll 0 0;
            border: medium none transparent;
            border-radius: 0;
            box-shadow: none;
            color: var(--blackColor);
            font-size: 14px;
            height: 40px;
            margin-bottom: 20px;
            padding-left: 10px;
            width: 100%;
          }  
        }
    }
    &__button{
        button{
            background-color: #000;
            border: medium none;
            color: var(--whiteColor);
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            line-height: 24px;
            margin-bottom: 0;
            padding: 8px 25px;
            border-radius: 0;
            text-align: center;
            transition: .3s;
            &:hover{
                background: var(--primaryColor);
                color: var(--whiteColor);
            }
        }
    }
    &__account__optional__action{
        margin-top: 20px;
    }
}